<!DOCTYPE html>
<html>  
<head>
<meta charset="UTF-8">
<title>Forum</title>
</head>    
<body>
    <h1>Posts</h1>
    {{range .}}
    <h3>================================================================================================</h3>
    <div><h3>{{.UserName}}:</h3></div>
    <br><div>{{.Post_body}}</div>
    <br><div>{{.Post_time}}</div>
    <br><div>{{.Post_date}}</div>
    <br><div>Likes:{{.Like_counts}}</div>
    <div><h3>Comments:</h3></div>
    <br><div>{{range .Comments}}</div>
    <br><div>{{.UserName}}: {{.Comment_body}}</div>
    {{end}}
    <h3>================================================================================================</h3>
        
    {{end}}
    
        
        
    </body>
</html> 