<!DOCTYPE html>
<html>  
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Forum</title>
</head>    
<body>
<h1>Posts</h1>
    {{range .}}
    <h3>================================================================================================</h3>
    <div><h3>{{.UserName}}:</h3></div>
    <br><div>{{.Post_body}}</div>
    <br><div>{{.Post_time}}</div>
    <br><div>{{.Post_date}}</div>
    <br><div>Likes:{{.Like_counts}}</div>
    <div><h3>Comments:</h3></div>
    <br><div>{{range .Comments}}</div>
    <br><div>{{.UserName}}: {{.Comment_body}}</div>
    {{end}}
    
   


    
    
    <form method="POST" class="form">
    <input type="hidden" name="Post_ID" value="{{.Post_ID}}"></input> 
    <input type="hidden" name="User_ID" value="{{.User_ID}}"></input>    
    <br><button type="submit">Like</button>
    </form>
    <form method="POST" class="form">
    
        <input type="hidden" name="Post_IDC" value="{{.Post_ID}}"></input> 
        <input type="hidden" name="User_IDC" value="{{.User_ID}}"></input>   
        <br><label for="comment">Comments:</label>
        <br><textarea id="comment" name="comment" cols="25" rows="6"></textarea> 
        <br><br><button type="submit">Add comments</button>

    </form>
    
    
    <!-- <form>
    <input type="hidden" name="Like" value="{{.Post_ID}}"></input>   
    <br><button type="submit">Like</button>
    </form> -->
    
    <h3>================================================================================================</h3>
    
    {{end}}

    
    <form method="POST" class="form">
    

    <br><label for="post">Post:</label>
    <br><textarea id="post" name="post" cols="50" rows="10"></textarea> 
    <br><br><button type="submit">Add post</button>
   </form>
</body>
</html> 