<!DOCTYPE html>
<html>  
<head>
<meta charset="UTF-8">
<title>Forum</title>
</head>    
<body>
<h1>First time here?</h1>
<h2>Sign up for forum</h2>
<form method="POST" class="form">
    <label for="username">Username:</label>
    <br><input type="text" id="username" name="username"></intup>
    <br><label for="email">email:</label>
    <br><input type="text" id="email" name="email"></intup>
    <br><label for="password">Password:</label>
    <br><input type="password" id="password" name="password"></intup>   
    <br><button type="submit">Sign up</button>
</form>
</body>
</html>   